<h3>Probes pooling and 5' phosphorylation</h3>
<table class="table table-sm table-bordered">
  <thead>
    <tr>
      <th></th>
      <th class="text-right">Volume</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-right">Water</td>
      <td class="text-mono text-right">{{model.phosphorylation_water_volume}}</td>
    </tr>
    <tr>
      <td class="text-right">MIPs Pool</td>
      <td class="text-mono text-right">{{model.phosphorylation_mips_pool_volume}}</td>
    </tr>
    <tr>
      <td class="text-right">T4 Ligase Buffer 10X</td>
      <td class="text-mono text-right">{{model.phosphorylation_t4_buffer_volume}}</td>
    </tr>
    <tr>
      <td class="text-right">T4 PNK</td>
      <td class="text-mono text-right">{{model.phosphorylation_t4_pnk_volume}}</td>
    </tr>
  </tbody>
</table>

<h3>MIP capture reaction</h3>
<table class="table table-sm table-bordered">
  <thead>
    <tr>
      <th></th>
      <th class="text-right">Single</th>
      <th class="text-right">Master Mix</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-right">Ampligase 10x Buffer</td>
      <td class="text-mono text-right">{{model.mip_capture_ampligase_buffer}}</td>
      <td class="text-mono text-right">{{model.mip_capture_mix_ampligase_buffer}}</td>
    </tr>
    <tr>
      <td class="text-right">MIP Probes (diluted)</td>
      <td class="text-mono text-right">{{model.serial_dilution.mips_volume_required}}</td>
      <td class="text-mono text-right">{{model.mip_serial_dilution_amount_mix}}</td>
    </tr>
    <tr>
      <td class="text-right">dNTPs 0.25mM</td>
      <td class="text-mono text-right">{{model.mip_capture_dntps}}</td>
      <td class="text-mono text-right">{{model.mip_capture_mix_dntps}}</td>
    </tr>
    <tr>
      <td class="text-right">NEB Klentaq</td>
      <td class="text-mono text-right">{{model.mip_capture_klentaq}}</td>
      <td class="text-mono text-right">{{model.mip_capture_mix_klentaq}}</td>
    </tr>
    <tr>
      <td class="text-right">Ampligase (100 units/µL)</td>
      <td class="text-mono text-right">{{model.mip_capture_ampligase}}</td>
      <td class="text-mono text-right">{{model.mip_capture_mix_ampligase}}</td>
    </tr>
    <tr>
      <td class="text-right">Water</td>
      <td class="text-mono text-right">{{model.mip_capture_water}}</td>
      <td class="text-mono text-right">{{model.mip_capture_mix_water}}</td>
    </tr>
  </tbody>
</table>

<h3>Add to Each Well</h3>
<table class="table table-sm table-bordered">
  <thead>
    <tr>
      <th></th>
      <th class="text-right">µL</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-right">Master Mix</td>
      <td class="text-mono text-right">{{model.mip_capture_reagents}}</td>
    </tr>
    <tr>
      <td class="text-right">hg DNA</td>
      <td class="text-mono text-right">{{model.mip_capture_sample_dna}}</td>
    </tr>
  </tbody>
</table>
