<div class="form-group">
  <label for="name">Name</label>
  {{input
    value=model.name
    id='name'
    class='form-control'}}
</div>
<div class="form-group">
  <label for="mip_concentration">MIP concentration (µM)</label>
  {{input
    type='number'
    step=1
    value=model.mip_concentration
    id='mip_concentration'
    class='form-control'}}
</div>

<div class="form-group">
  <label for="dna_sample_concentration">DNA sample concentration (ng/µL)</label>
  {{input
    type='number'
    step=1
    value=model.dna_sample_concentration
    id='dna_sample_concentration'
    class='form-control'}}
</div>
<div class="form-group">
  <label for="sample_count">Sample count</label>
  {{input
    type='number'
    step=1
    value=model.sample_count
    id='sample_count'
    class='form-control'}}
</div>
<div class="form-group">
  <label for="phosphorylation_reaction_volume">Phosphorylation reaction volume (µL)</label>
  {{view Ember.Select
    content=phosphorylation_reaction_volumes
    optionLabelPath='content.name'
    optionValuePath='content.value'
    value=model.phosphorylation_reaction_volume
    id='phosphorylation_reaction_volume'
    class='form-control c-select'}}
</div>
